body {
    font-family: sans-serif;
    background-color: grey;
    background-image: url("steel_bg.jpg");
}

#bomb {
    margin-top: 5%;
    margin-right: 20px;
    display: grid;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#screen {
    width: 500px;
    height: 100px;
    grid-column: 1;
    grid-row: 1;
    
    font-family: 'courier new', courier;
    font-size: 40px;
    
    background-color: black;
    color: green;
    
    span {
      display: block;
    }
  }

.keybutton {
    width: 100px;
    height: 60px;
    font-weight: bold;
    font-size: large;
    background-color: darkgrey;
    margin: 6px;
    border: 2px solid black;
    font-family: 'courier new', courier;
}
      
.keybutton:hover {
  background: gray;
  color: white;
}     

.keybutton:active {
  background-color: #303030;
  box-shadow: 0 2px #303030;
  transform: translateY(4px);
}

#keypad {
    width: 500px;
    grid-column: 1;
    grid-row: 2;
    margin-top: 5px;
}
